
*.a
*.nii
*.m~
*.so
MATLAB/TestFiles

# Qt files
Qt/TestFiles
Qt/lib
Qt/moc
Qt/debug
Qt/release
Qt/obj
Qt/Makefile*
*.pro.user

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
*.mexa64
*.Release
*.Debug